@font-face {
    font-family: 'Commie';
    src: url(../fonts/Commissioner-Black.ttf);
}

.title{
    font-family: 'Commie';
    font-size: 1em;
    left: 20px;
    top: 15px;
    position: absolute;
    color: whitesmoke;
    text-shadow: black 1px 0 10px;
}

.text{
    color: whitesmoke;
    font-family: 'Commie';
    font-size: 10px;
    letter-spacing: 4px;
    position: absolute;
    top: 250px;
    left: 10px;
    width: 800px;
    text-shadow: rgb(49, 221, 233) 1px 0 10px;
    font-style: italic;
}

.container{
    width: 336px;
    height: 280px;
    background: rgb(86, 86, 255);
}

.cover{
    width: 336px;
    height: 280px;
    background: url(../images/byd.jpg) no-repeat center;
    background-size: contain;
    display: block;
}

.link{
    font-family: 'Commie';
    font-size: 15px;
    color: rgb(255, 255, 255);
    border: solid rgb(27, 27, 248);
    background: rgb(60, 60, 148,0.7);
    position: absolute;
    top: 12px;
    left: 220px;
    padding: 2px;
    transition: 1s;
    text-decoration: none;
}

.link:hover{
    text-shadow: #FC0 1px 0 10px;
    transition: 1s;
}